{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<!-- Prevent the demo from appearing in search engines -->
<meta name="rating" content="General" />
<meta name="owner" content="dev.mohammadhosseiny@gmail.com" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<meta name="copyright" content="UltraPY" />
<meta name="language" content="FA" />
<link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap"
      rel="stylesheet">

<!-- Perfect Scrollbar -->
<link type="text/css" href="{% static 'assets/vendor/perfect-scrollbar.css' %}" rel="stylesheet">

<!-- Fix Footer CSS -->
<link type="text/css" href="{% static 'assets/vendor/fix-footer.css' %}" rel="stylesheet">

<!-- Material Design Icons -->
<link type="text/css" href="{% static 'assets/css/material-icons.rtl.css' %}" rel="stylesheet">


<!-- Font Awesome Icons -->
<link type="text/css" href="{% static 'assets/css/fontawesome.rtl.css' %}" rel="stylesheet">


<!-- Preloader -->
<link type="text/css" href="{% static 'assets/css/preloader.rtl.css' %}" rel="stylesheet">


<!-- App CSS -->
<link type="text/css" href="{% static 'assets/css/app.rtl.css' %}" rel="stylesheet">

