{% load static %}
<div class="js-fix-footer2 bg-white border-top-2">
        <div class="container page__container page-section d-flex flex-column">
            <p class="text-70 brand mb-24pt">
                <img style="height: 100px;width: 100px" class="brand-icon" src="{% static 'assets/images/logo/ultra.svg' %}" width="30" alt="Luma">
                آلترا پای
            </p>
            <p class="measure-lead-max text-50 small mr-8pt">مرجع یادگیری زبان پایتون و فریمورک های اون</p>
        </div>
    </div>