{% extends 'base/_MainLayout.html' %}
{% block title %}
    ورود
{% endblock %}
{% block head %}
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
{% endblock %}
{% block content %}

    <div class="preloader" style="display: none;">
        <div class="sk-double-bounce">
            <div class="sk-child sk-double-bounce1"></div>
            <div class="sk-child sk-double-bounce2"></div>
        </div>
    </div>

    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push="" data-responsive-width="992px"
         data-domfactory-upgraded="mdk-drawer-layout">
        <div class="mdk-drawer-layout__content page-content" style="transform: translate3d(0px, 0px, 0px);">


            {% include 'base/Header_other.html' %}


            <div class="pt-32pt pt-sm-64pt pb-32pt">
                <div class="container page__container">
                    <form action="/forget-password/tokenId={{ token }}" class="col-md-5 p-0 mx-auto" method="post">
                        {% csrf_token %}
                        {{ changepassword_form.captcha }}
                        <div class="form-group">
                            {% for error in changepassword_form.password.errors %}
                                <p class="badge bg-danger infos"
                                   style="font-size:16px;padding: 5px 10px">{{ error }}</p>
                                <br>
                            {% endfor %}
                            <br>
                            <label class="form-label infos"
                                   for="{{ changepassword_form.password.id_for_label }}">{{ changepassword_form.password.label }}</label>
                            {{ changepassword_form.password }}
                        </div>
                        <div class="form-group">
                            {% for error in changepassword_form.re_password.errors %}
                                <p class="badge bg-danger infos"
                                   style="font-size:16px;padding: 5px 10px">{{ error }}</p>
                            {% endfor %}
                            <label class="form-label infos"
                                   for="{{ changepassword_form.re_password.id_for_label }}">{{ changepassword_form.re_password.label }}</label>
                            {{ changepassword_form.re_password }}
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary infos">تغییر کلمه عبور</button>
                        </div>
                    </form>
                </div>
            </div>


        </div>
        <!-- // END drawer-layout__content -->


        <!-- drawer -->
        {% include 'base/drawer.html' %}
        <!-- // END drawer -->


    </div>
    <!-- // END drawer-layout -->
    {% include 'base/Footer.html' %}

{% endblock %}