{% extends 'base/_MainLayout.html' %}
{% block title %}
    ورود
{% endblock %}
{% block head %}
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
{% endblock %}
{% block content %}

    <div class="preloader" style="display: none;">
        <div class="sk-double-bounce">
            <div class="sk-child sk-double-bounce1"></div>
            <div class="sk-child sk-double-bounce2"></div>
        </div>
    </div>

    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push="" data-responsive-width="992px"
         data-domfactory-upgraded="mdk-drawer-layout">
        <div class="mdk-drawer-layout__content page-content" style="transform: translate3d(0px, 0px, 0px);">


            {% include 'base/Header_other.html' %}


            <div class="pt-32pt pt-sm-64pt pb-32pt">
                <div class="container page__container">
                    <form action="/forget-password" class="col-md-5 p-0 mx-auto" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="form-label infos"
                                   for="forgotten">بازگردانی حساب کاربری</label>
                            <input required name="email-or-user" id="forgotten" class="form-control" type="text"
                                   placeholder="ایمیل یا نام کاربری اکانت فراموش شده را وارد نمایید">
                        </div>
                        <div class="text-center">
                            <button data-toggle="swal" data-swal-title="حله!"
                                    data-swal-text="درصورت وجود،ایمیلی حاوی لینک بازیابی برایتان ارسال شد."
                                    data-swal-type="success"
                                    class="btn btn-primary infos">بازگردانی
                            </button>
                        </div>
                        <br>
                        <div>
                            <p class="infos bg badge-info"
                               style="padding: 10px 15px;border-radius: 50px;font-size: medium">توجه کنید که در صورت
                                وجود کاربری با ایمیل یا نام کاربری وارد شده ، ایمیلی حاوی لینک بازگردانی اکانت برای صاحب
                                ایمیل ارسال می شود.</p>
                        </div>
                    </form>
                </div>
            </div>


        </div>
        <!-- // END drawer-layout__content -->


        <!-- drawer -->
        {% include 'base/drawer.html' %}
        <!-- // END drawer -->


    </div>
    <!-- // END drawer-layout -->

{% endblock %}